.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 60vh;
}

.c-card-content {
  width: 200px;
  height: 140px;
}

.c-card {
  cursor: pointer;
  background-color: aqua;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}
